/*! yagni.css v0.1.0 | Unlicense | github.com/ysegorov/yagni.css */

@import './src/_variables';
@import './src/_typography';
@import './src/_color';
@import './src/_box';
@import './src/_spacing';
@import './src/_background-color';
@import './src/_background-position';
@import './src/_background-size';
@import './src/_border';
@import './src/_float';
@import './src/_flexbox';
@import './src/_link';
@import './src/_list';
@import './src/_opacity';
@import './src/_outline';
@import './src/_table';
@import './src/_z-index';
