:root {

    --width-12: 12rem;
    --width-18: 18rem;
    --width-24: 24rem;
    --width-30: 30rem;
    --width-36: 36rem;
    --width-40: 40rem;
    --width-50: 50rem;

    --full-height: 100vh;

}
