
.bg-center {
    background-repeat: no-repeat;
    background-position: center center;
}

.bg-right {
    background-repeat: no-repeat;
    background-position: center right;
}

.bg-left {
    background-repeat: no-repeat;
    background-position: center left;
}

.bg-top {
    background-repeat: no-repeat;
    background-position: center top;
}

.bg-bottom {
    background-repeat: no-repeat;
    background-position: center bottom;
}
