
.bg-white    { background-color: var(--white); }
.bg-white-01 { background-color: var(--white-01); }
.bg-white-02 { background-color: var(--white-02); }
.bg-white-03 { background-color: var(--white-03); }
.bg-white-04 { background-color: var(--white-04); }
.bg-white-05 { background-color: var(--white-05); }
.bg-white-06 { background-color: var(--white-06); }
.bg-white-07 { background-color: var(--white-07); }
.bg-white-08 { background-color: var(--white-08); }
.bg-white-09 { background-color: var(--white-09); }
.bg-white-10 { background-color: var(--white-10); }
.bg-white-20 { background-color: var(--white-20); }
.bg-white-30 { background-color: var(--white-30); }
.bg-white-40 { background-color: var(--white-40); }
.bg-white-50 { background-color: var(--white-50); }
.bg-white-60 { background-color: var(--white-60); }
.bg-white-70 { background-color: var(--white-70); }
.bg-white-80 { background-color: var(--white-80); }
.bg-white-90 { background-color: var(--white-90); }
.bg-white-91 { background-color: var(--white-91); }
.bg-white-92 { background-color: var(--white-92); }
.bg-white-93 { background-color: var(--white-93); }
.bg-white-94 { background-color: var(--white-94); }
.bg-white-95 { background-color: var(--white-95); }
.bg-white-96 { background-color: var(--white-96); }
.bg-white-97 { background-color: var(--white-97); }
.bg-white-98 { background-color: var(--white-98); }
.bg-white-99 { background-color: var(--white-99); }

.bg-black    { background-color: var(--black); }
.bg-black-01 { background-color: var(--black-01); }
.bg-black-02 { background-color: var(--black-02); }
.bg-black-03 { background-color: var(--black-03); }
.bg-black-04 { background-color: var(--black-04); }
.bg-black-05 { background-color: var(--black-05); }
.bg-black-06 { background-color: var(--black-06); }
.bg-black-07 { background-color: var(--black-07); }
.bg-black-08 { background-color: var(--black-08); }
.bg-black-09 { background-color: var(--black-09); }
.bg-black-10 { background-color: var(--black-10); }
.bg-black-20 { background-color: var(--black-20); }
.bg-black-30 { background-color: var(--black-30); }
.bg-black-40 { background-color: var(--black-40); }
.bg-black-50 { background-color: var(--black-50); }
.bg-black-60 { background-color: var(--black-60); }
.bg-black-70 { background-color: var(--black-70); }
.bg-black-80 { background-color: var(--black-80); }
.bg-black-90 { background-color: var(--black-90); }
.bg-black-91 { background-color: var(--black-91); }
.bg-black-92 { background-color: var(--black-92); }
.bg-black-93 { background-color: var(--black-93); }
.bg-black-94 { background-color: var(--black-94); }
.bg-black-95 { background-color: var(--black-95); }
.bg-black-96 { background-color: var(--black-96); }
.bg-black-97 { background-color: var(--black-97); }
.bg-black-98 { background-color: var(--black-98); }
.bg-black-99 { background-color: var(--black-99); }

.bg-gray-016 { background-color: var(--gray-016); }
.bg-gray-032 { background-color: var(--gray-032); }
.bg-gray-048 { background-color: var(--gray-048); }
.bg-gray-064 { background-color: var(--gray-064); }
.bg-gray-080 { background-color: var(--gray-080); }
.bg-gray-096 { background-color: var(--gray-096); }
.bg-gray-112 { background-color: var(--gray-112); }
.bg-gray-128 { background-color: var(--gray-128); }
.bg-gray-144 { background-color: var(--gray-144); }
.bg-gray-160 { background-color: var(--gray-160); }
.bg-gray-176 { background-color: var(--gray-176); }
.bg-gray-192 { background-color: var(--gray-192); }
.bg-gray-208 { background-color: var(--gray-208); }
.bg-gray-224 { background-color: var(--gray-224); }
.bg-gray-240 { background-color: var(--gray-240); }

.bg-red           { background-color: var(--red); }
.bg-orange        { background-color: var(-orange); }
.bg-yellow        { background-color: var(--yellow); }
.bg-yellow-green  { background-color: var(--yellow-green); }
.bg-green         { background-color: var(--green); }
.bg-green-cyan    { background-color: var(--green-cyan); }
.bg-cyan          { background-color: var(--cyan); }
.bg-cyan-blue     { background-color: var(--cyan-blue); }
.bg-blue          { background-color: var(--blue); }
.bg-blue-magenta  { background-color: var(--blue-magenta); }
.bg-magenta       { background-color: var(--magenta); }
.bg-magenta-red   { background-color: var(--magenta-red); }
