
.block  { display: block; }
.inline { display: inline; }
.ib     { display: inline-block; }

.as-li      { display: list-item; }

.as-table         { display: table; }
.as-inline-table  { display: inline-table; }
.as-tr            { display: table-row; }
.as-td            { display: table-cell; }
.as-col           { display: table-column; }
.as-colgroup      { display: table-column-group; }
.as-caption       { display: table-caption; }
.as-thead         { display: table-header-group; }
.as-tbody         { display: table-row-group; }
.as-tfoot         { display: table-footer-group; }

.is-hidden    { display: none; }

.is-invisible { visibility: hidden; }
.is-visible   { visibility: visible; }

.absolute { position: absolute; }
.relative { position: relative; }
.fixed    { position: fixed; }
.static   { position: static; }

.va-baseline    { vertical-align: baseline; }
.va-middle      { vertical-align: middle; }
.va-top         { vertical-align: top; }
.va-bottom      { vertical-align: bottom; }
.va-sub         { vertical-align: sub; }
.va-super       { vertical-align: super; }
.va-text-top    { vertical-align: text-top; }
.va-text-bottom { vertical-align: text-bottom; }

.of-auto      { overflow: auto; }
.of-x-auto    { overflow-x: auto; }
.of-y-auto    { overflow-y: auto; }
.of-hidden    { overflow: hidden; }

.top-0      { top: 0; }
.left-0     { left: 0; }
.right-0    { right: 0; }
.bottom-0   { bottom: 0; }

.z-10       { z-index: 10; }
.z-20       { z-index: 20; }
.z-30       { z-index: 30; }
.z-40       { z-index: 40; }
.z-50       { z-index: 50; }
.z-60       { z-index: 60; }
.z-70       { z-index: 70; }
.z-80       { z-index: 80; }
.z-90       { z-index: 90; }
.z-100      { z-index: 100; }
.z-1000     { z-index: 1000; }
.z-10000    { z-index: 10000; }
.z-100000   { z-index: 100000; }
