
.white    { color: var(--white); }
.white-01 { color: var(--white-01); }
.white-02 { color: var(--white-02); }
.white-03 { color: var(--white-03); }
.white-04 { color: var(--white-04); }
.white-05 { color: var(--white-05); }
.white-06 { color: var(--white-06); }
.white-07 { color: var(--white-07); }
.white-08 { color: var(--white-08); }
.white-09 { color: var(--white-09); }
.white-10 { color: var(--white-10); }
.white-20 { color: var(--white-20); }
.white-30 { color: var(--white-30); }
.white-40 { color: var(--white-40); }
.white-50 { color: var(--white-50); }
.white-60 { color: var(--white-60); }
.white-70 { color: var(--white-70); }
.white-80 { color: var(--white-80); }
.white-90 { color: var(--white-90); }
.white-91 { color: var(--white-91); }
.white-92 { color: var(--white-92); }
.white-93 { color: var(--white-93); }
.white-94 { color: var(--white-94); }
.white-95 { color: var(--white-95); }
.white-96 { color: var(--white-96); }
.white-97 { color: var(--white-97); }
.white-98 { color: var(--white-98); }
.white-99 { color: var(--white-99); }

.black    { color: var(--black); }
.black-01 { color: var(--black-01); }
.black-02 { color: var(--black-02); }
.black-03 { color: var(--black-03); }
.black-04 { color: var(--black-04); }
.black-05 { color: var(--black-05); }
.black-06 { color: var(--black-06); }
.black-07 { color: var(--black-07); }
.black-08 { color: var(--black-08); }
.black-09 { color: var(--black-09); }
.black-10 { color: var(--black-10); }
.black-20 { color: var(--black-20); }
.black-30 { color: var(--black-30); }
.black-40 { color: var(--black-40); }
.black-50 { color: var(--black-50); }
.black-60 { color: var(--black-60); }
.black-70 { color: var(--black-70); }
.black-80 { color: var(--black-80); }
.black-90 { color: var(--black-90); }
.black-91 { color: var(--black-91); }
.black-92 { color: var(--black-92); }
.black-93 { color: var(--black-93); }
.black-94 { color: var(--black-94); }
.black-95 { color: var(--black-95); }
.black-96 { color: var(--black-96); }
.black-97 { color: var(--black-97); }
.black-98 { color: var(--black-98); }
.black-99 { color: var(--black-99); }

.gray-016 { color: var(--gray-016); }
.gray-032 { color: var(--gray-032); }
.gray-048 { color: var(--gray-048); }
.gray-064 { color: var(--gray-064); }
.gray-080 { color: var(--gray-080); }
.gray-096 { color: var(--gray-096); }
.gray-112 { color: var(--gray-112); }
.gray-128 { color: var(--gray-128); }
.gray-144 { color: var(--gray-144); }
.gray-160 { color: var(--gray-160); }
.gray-176 { color: var(--gray-176); }
.gray-192 { color: var(--gray-192); }
.gray-208 { color: var(--gray-208); }
.gray-224 { color: var(--gray-224); }
.gray-240 { color: var(--gray-240); }

.red           { color: var(--red); }
.orange        { color: var(-orange); }
.yellow        { color: var(--yellow); }
.yellow-green  { color: var(--yellow-green); }
.green         { color: var(--green); }
.green-cyan    { color: var(--green-cyan); }
.cyan          { color: var(--cyan); }
.cyan-blue     { color: var(--cyan-blue); }
.blue          { color: var(--blue); }
.blue-magenta  { color: var(--blue-magenta); }
.magenta       { color: var(--magenta); }
.magenta-red   { color: var(--magenta-red); }
