
.flex      { display: flex; }
.flex-inline  { display: inline-flex; }

.flexy            { flex: 1 1 auto; }
.non-flexy        { flex-grow: 0; flex-shrink: 0; }

.flex-grow        { flex-grow: 1; }
.flex-non-grow    { flex-grow: 0; }

.flex-shrink      { flex-shrink: 1; }
.flex-non-shrink  { flex-shrink: 0; }

.flex-basis-auto  { flex-basis: auto; }

.flex-column          { flex-direction: column; }
.flex-column-reverse  { flex-direction: column-reverse; }
.flex-row             { flex-direction: row; }
.flex-row-reverse     { flex-direction: row-reverse; }

.flex-wrap            { flex-wrap: wrap; }
.flex-wrap-reverse    { flex-wrap: wrap-reverse; }
.flex-nowrap          { flex-wrap: nowrap; }

.flex-items-start     { align-items: flex-start; }
.flex-items-end       { align-items: flex-end; }
.flex-items-center    { align-items: center; }
.flex-items-baseline  { align-items: baseline; }
.flex-items-stretch   { align-items: stretch; }

.flex-self-start      { align-self: flex-start; }
.flex-self-end        { align-self: flex-end; }
.flex-self-center     { align-self: center; }
.flex-self-baseline   { align-self: baseline; }
.flex-self-stretch    { align-self: stretch; }

.flex-justify-start   { justify-content: flex-start; }
.flex-justify-end     { justify-content: flex-end; }
.flex-justify-center  { justify-content: center; }
.flex-justify-between { justify-content: space-between; }
.flex-justify-around  { justify-content: space-around; }
.flex-justify-stretch { justify-content: stretch; }

.flex-content-start   { align-content: flex-start; }
.flex-content-end     { align-content: flex-end; }
.flex-content-center  { align-content: center; }
.flex-content-between { align-content: space-between; }
.flex-content-around  { align-content: space-around; }
.flex-content-stretch { align-content: stretch; }

.flex-order-0     { order: 0; }
.flex-order-1     { order: 1; }
.flex-order-2     { order: 2; }
.flex-order-3     { order: 3; }
.flex-order-4     { order: 4; }
.flex-order-5     { order: 5; }
.flex-order-6     { order: 6; }
.flex-order-7     { order: 7; }
.flex-order-8     { order: 8; }
.flex-order-9     { order: 9; }
.flex-order-10    { order: 10; }
.flex-order-10000 { order: 10000; }
