
.link          { transition: color .2s ease-in; text-decoration: none; }
.link:link     { transition: color .2s ease-in; }
.link:visited  { transition: color .2s ease-in; }
.link:hover    { transition: color .2s ease-in; }
.link:active   { transition: color .2s ease-in; }
.link:focus    { transition: color .2s ease-in; outline: 1px dotted currentColor; }

.pointer  { cursor: pointer; }
