
.z--2      { z-index: -2; }
.z--1      { z-index: -1; }
.z-0       { z-index: 0; }
.z-1       { z-index: 1; }
.z-2       { z-index: 2; }
.z-3       { z-index: 3; }
.z-4       { z-index: 4; }
.z-5       { z-index: 5; }

.z-10      { z-index: 10; }
.z-20      { z-index: 20; }
.z-30      { z-index: 30; }
.z-40      { z-index: 40; }
.z-50      { z-index: 50; }
.z-60      { z-index: 60; }
.z-70      { z-index: 70; }
.z-80      { z-index: 80; }
.z-90      { z-index: 90; }
.z-100     { z-index: 100; }
.z-1000    { z-index: 1000; }
.z-10000   { z-index: 10000; }
.z-100000  { z-index: 100000; }
