@import "./sanitize";
@import "../../yagni.css";


.link:hover,
.link:active,
.link:focus {
    background-color: var(--gray-032);
    color: var(--white);
    transition: all .2s ease-in;
}

.maxw-42 {
    max-width: var(--size-42);
}
.top-3r {
    top: var(--size-03);
}
